# ===================================================================
# Python related
# ===================================================================

# Byte-compiled / optimized / C extensions
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype
.pytype/


# ===================================================================
# Project specific files
# ===================================================================

# Directories for user-uploaded files and generated reports.
# These should not be version controlled.
uploads/
reports/

# If you have local configuration files that should not be committed.
# config.ini
# .secrets


# ===================================================================
# IDE / OS / Editor specific
# ===================================================================

# PyCharm
.idea/

# VS Code
.vscode/
*.code-workspace

# Sublime Text
*.sublime-project
*.sublime-workspace

# Jupyter Notebook
.ipynb_checkpoints

# macOS
.DS_Store
.AppleDouble
.LSOverride
.Trashes
.Spotlight-V100
.fseventsd

# Windows
Thumbs.db
ehthumbs.db
ehthumbs_vista.db
Desktop.ini


# ---key---
serviceAccountKey.json
